:root {
    /* Colors */


    --c-theme-accent: #e02;
    --c-theme-dark: #940;
    --c-theme-light: #f60;

    --c-grey-1: #111 ;
    --c-grey-3: #333;
    --c-grey-5: #555 ;
    --c-grey-7: #777;
    --c-grey-9: #999;
    --c-grey-b: #bbb;
    --c-grey-d: #ddd;

    /* Fonts */
    --main-font: "Lato", sans-serif;
    --sec-font: "K2D", sans-serif;
}
.custom-gradient1 {
    background: conic-gradient(
        var(--c-theme-light) 72deg,
        var(--c-theme-light) 360deg
    );
}
.custom-gradient2 {
    background: conic-gradient(
       
        var(--c-theme-light) 72deg,
        var(--c-theme-light) 360deg
    );
}
.custom-gradient3 {
    background: conic-gradient(
        transparent 0deg,
        transparent 54deg,
        var(--c-theme-light) 54deg,
        var(--c-theme-light) 360deg
    );
}
.custom-gradient4 {
    background: conic-gradient(
        transparent 0deg,
        transparent 144deg,
        var(--c-theme-light) 144deg,
        var(--c-theme-light) 360deg
    );
}
.custom-gradient5 {
    background: conic-gradient(
        transparent 0deg,
        transparent 108deg,
        var(--c-theme-light) 108deg,
        var(--c-theme-light) 360deg
    );
}
